* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui;
        overflow: hidden;
}

#header {
	/*background: rgba(2, 2, 4, 1);*/
	background: transparent;
	min-height: 50px;
	width: 100%;
	position: fixed;
}

#container {
	background: rgba(254, 254, 254, 1);
	min-height: calc(100vh - 100px);
}

#footer {
	background: rgba(2, 2, 4, 1);
	min-height: 100px;
	color: rgba(254, 254, 254, 1);
	text-align: center;
}

.title{
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	position: relative;
	left: 10px;
	top: 10px;
	text-decoration: none; 
}

.menu {
	display: flex;
	font-size: 16px;
	float: right;
	position: relative;
	right: 14px;
	top: 14px;
}

.menuobj {
	margin-left: 10px;
	margin-right: 10px;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.subtitle {
	color: rgba(255, 255, 255, 1);
	font-size: 100px;
	position: relative;
	left: 100px;
	bottom: 300px;
	text-decoration: none;
	max-height: 0;
	/*visibility: hidden;*/
	margin: 0;
	padding: 0;
	border: 0;
}

.background {
	image-rendering: pixelated;	
	width: 100%;
	height: auto;
}

.contact {
	padding-top: 70px;
}

@media only screen and (max-width: 768px){
	#header {
		min-height: 35px;
	}
	#container {
		min-height: calc(100vh - 100px);
	}
	
	#footer {
		
	}
	
	.menu{
		display: none;
	}
	
	.title{
		font-size: 17.5px;
		left: 10px;
		top: 3px;
	}
	
	.subtitle{
		font-size: 50px;
		left: 35px;
		bottom: 90px;
	}
	
	.background{
		
	}
	
	.contact{
		
	}
}
